@media screen and (max-width: 700px) {
    body,
        .container{
            width: 100%;
            padding: 0px;
            }
        }

body{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
  color: hsl(191, 85%, 42%);
}
.jumbotron{
    padding: 15%;
    margin-bottom: 0px;
    text-align: center;
    font-size: 400;
    color: white;
    background-color: hsl(191, 85%, 42%);
    text-transform: capitalize;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

/* ini buat navigasinya */
nav{
    box-shadow: 0px 3px 6px 0px hsl(190, 93%, 28%);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(2, 1, 1);
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover:not(.active) {
    background-color: hsl(191, 85%, 42%)
  }
  
.active {
    background-color: hsl(190, 93%, 28%);
  }
/* tutup navigasi */


/* ini buat dropdown */
.dropbtn {
    background-color: rgb(2, 1, 1);
    color: white;
    padding: 14px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
.dropdown {
    position: static;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(2, 1, 1);
    min-width: 160px;
    z-index: 1;
  }
.dropdown-content a {
    color: white;
    padding: 14px 6px; 
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: hsl(191, 85%, 42%)}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
    background-color: hsl(191, 85%, 42%);
  }
/* tutup dropdown */


/* css search button */
form {
    margin:0px auto;
}
.search {
    margin-top: 7px;
    padding:8px 14px;
    border:0px solid #dbdbdb;
    flex-flow: row;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.button {
    position:relative;
    padding:6px 15px;
    margin-right: 7px;
    border-radius:5px hsl(190, 93%, 28%);
    background-color: hsl(190, 93%, 28%);
    color:#fafafa;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.button:hover  {
    background-color:  hsl(191, 85%, 42%);
}
          
::-webkit-input-placeholder { /* For WebKit browsers */
    color:    hsl(191, 85%, 42%);
                font-family: 'Avenir', Helvetica, Arial, sans-serif;
                font-weight:bold;
}
:-moz-placeholder { /* For Mozilla Firefox 4 to 18 */
    color:    hsl(191, 85%, 42%);
                font-family: 'Avenir', Helvetica, Arial, sans-serif;
                font-weight:bold;
}
::-moz-placeholder { /* For Mozilla Firefox 19+ */
    color:    hsl(191, 85%, 42%);
                font-family: 'Avenir', Helvetica, Arial, sans-serif;
                font-weight:bold;
}
:-ms-input-placeholder { /* For Internet Explorer 10+ */
    color:    hsl(191, 85%, 42%);
                font-family: 'Avenir', Helvetica, Arial, sans-serif;
                font-weight:bold;
}	
/* tutup search button */

/* ini konten */

#content{
  margin: 10px;
  padding: 0px auto;
  text-align: justify;
  font-weight: 12px;
  display:inline-flex;
  overflow: auto;
}
#content1{
  height: 900px;
  margin: 14px 5px;
  flex-basis: 60%;
  flex-basis: 2;
  margin: 10px
}
#content1 img{
  float: left;
  width: 100%;
  max-height: 200px;
  margin: 5px;
  object-fit: contain;
}
#content2{
  flex-basis: 10%;
  flex-grow: 1;
  margin: 10px;
  padding: 15px;
}
#content2 img{
  float: center;
  width: 100%;
  max-height: 200px;
  margin: 5px;
  object-fit: contain;
}
#content2 .aside1 img{
  float: center;
  width: 100%;
  max-height: 200px;
  margin: 5px;
  object-fit: contain;
}
.card{
  box-shadow: 0 6px 12px 0 hsl(190, 93%, 28%);
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  background-color: black;
}
/* tutup konten */

/* ini footer */
#footer{
  box-shadow: 0px 0px 12px 2px hsl(190, 93%, 28%);
}
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
#footer li {
    float: inline-start;
  }
  
#footer li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.container{
    display: flex;
    background-color: rgb(2, 1, 1);
    
}
.flex-1{
    flex-grow: 1;
    margin: 150px 50px;
}
.flex-2{
    flex-grow: 2;
    flex-basis: 70%;
    margin: 100px;
    padding: 10px;
    text-align: left;
    line-height: 55px;
    font-size: 900;
    color: white;
}
.featured-image{
    width: 70%;
    max-height: 200px;
    object-position: center;
}