* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
  line-height: 1,5;
  background-color: black;
  font-family: Space;
  font-family: 'Kirang Haerang', cursive;
}
.act{
	border: 2px solid hsl(191, 85%, 42%);
	border-radius: 50px;
	padding: 6px 15px;
}
/* /1 */

/* 2 */
.slider{
	position: relative;
	width: 100%;
	background: black; /* darckblue */
}
.myslide{
	height: auto;
  width: auto;
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: black;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: hsl(190, 93%, 28%); /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid hsl(190, 93%, 28%);
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: hsl(191, 85%, 42%) /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: hsl(191, 85%, 42%); /* blue */
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
.image{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */



/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}
  .myslide{
    height: 300px;
  }
}
/* /5 */

/* 6 */
@media screen and (max-width: 400px){
	.txt h1{
		font-size: 16px bold;
		margin-bottom: 10px;
	}
  .txt p{
    font-size: 9px;
  }
  .myslide{
    height: 200px;
  }
}
/* /6 */


/* CSS For Navbar */
.wrapper{
  background-color: black;
  position:sticky;
  width: 100%;
  top: 0;
  }
.wrapper .search-icon,
.wrapper .menu-icon{
  font-size: 16px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
  color: white;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin:  0 auto;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}
.wrapper .search-box{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";

}
.wrapper input[type="checkbox"]{
  display: none;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  background-color: black;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: white;
}
.search-box .go-icon{
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  line-height: 60px;
  transform: translateY(-50%);
  width: 70px;
  background-color: black;
  border: none;
  outline: none;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo img{
    max-height: 50px;
    height: 40%;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5%;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover, .active,
.content .logo a:hover{
  background-color: hsl(191, 85%, 42%);
}

.content .links ul{
  position: absolute;
  background: black;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  opacity: 1;
  visibility: visible;
  top: 70px;
  transition: all 0.4s ease;
}
.content .links ul a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  left: 100%;
  top: 0;
}
.content .links ul li:hover ul{
  top: 0;
}
.content .links ul li{
  position: relative;
}

/* media screen for navbar Normal */
@media screen and (max-width : 1250px){
  .wrapper nav{   
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

/* media screen for navbar 900px */
@media screen and (max-width : 900px){
  .content .logo img{
    max-height: 50px;
    height: 40%;
}
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  nav .content .links{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: auto;
    height:500px;
    overflow-y: auto;
    transition: all 0.4s ease;
    padding-bottom: 100px;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
  }

  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility:  visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-portofolio:checked ~ ul,
  .content .links #show-website:checked ~ ul,
  .content .links #show-others:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li{
    font-size: 16px;
    line-height: 30px;
    border-radius: 5%!important;
  }
  .content .links li a.desktop-link{
    display: none;
  }
}

/* media screen for navbar 400px */
@media screen and (max-width: 400px){
  .content .logo img{
    max-height: 50px;
    height: 20%;
}
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 30px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 25px;
    right: 0px;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}
/* End Of Navbar */

/* CSS For Content */
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 3%;
}
.side{
  flex: 20%;
  padding: 20px;
  margin: 1%;
  color: white;
  /* box-shadow: 1px 1px 6px black;
  border-radius: 3px; */
  min-height: 239px;
  display: inline-block;
  transition: all 1.4s ease;
  background-color: black;
  /* opacity: 99%; */
  
}
.side a{
  text-decoration: none;
  color: white;
}
.side:hover{
  left: -100%;
  transition: all 0.4s ease;
}
.main{
  position: flex;
  margin: 1%;
  flex: 70%;
  padding: 20px;
  /* box-shadow: 1px 1px 6px black;
  border-radius: 3px; */
  min-height: 300px;
  color: white;
  background-color: black;
}
.skills{
  position: flex;
  margin: 1%;
  flex: 80%;
  padding: 20px;
  box-shadow: 0px 1px 1px black;
  border-radius: 3px;
}
.foto-side{
  width: 100%;
  object-fit:cover;
  max-width: 400px;
  margin: 1%;
  padding: 2%;
  float: right;
  position:static;
}
.foto-main{
  width: 100%;
  object-fit:contain;
  max-height: 300px;
  margin: 1%;
  position:static;
}

@media screen and (max-width : 2378){
  .row{   
    flex-direction:column;
    justify-content:space-evenly;
  }
}
/* End Of Content */

/* CSS For Footer */
.footer{
  background-color: black;
  padding: 70px 0;
  position:sticky;
}
.row-footer{
  display: flex;
  flex-wrap: wrap;
}
.container{
  max-width: 1080px;
  margin: auto;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: hsl(190, 93%, 28%);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 15px;
}
.footer-col ul li a{
  font-size: 14px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.5s ease;
}
.footer-col ul li a:hover{
  padding-left: 15px;
  color: white;
}
.footer-col .social-media a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: hsl(190, 93%, 28%);
  transition: all 0.5s ease;
}
.footer-col .social-media a:hover{
  padding-left: 15px;
  color: hsl(191, 85%, 42%);
}
ul{
  list-style: none;
}
@media screen and (max-width: 678px) {
  .footer-col{
    width: 59%;
    margin-bottom: 25px;
  }
}
  /* End For Footer */


/* responsive */
.w3-large{font-size:18px!important;} 
.w3-center{text-align:center!important}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important; padding: 5px;}
.w3-wide{letter-spacing:4px; padding: 5px;}
.w3-container,.w3-panel{padding:0.01em 16px} 
.w3-padding-small{padding:4px 10px!important}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}

.w3-border{border:1px solid #ccc!important}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-button{width:100%} .w3-button{white-space:normal} .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-button:disabled{cursor:not-allowed;opacity:0.3}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-button:hover{color:#000!important;background-color:#ccc!important}