* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  line-height: 1,5;
  background-color: black;
  font-family: Space;
  font-family: 'Kirang Haerang', cursive;
}


/* CSS For Content */

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 3%;
}
.side{
  flex: 20%;
  padding: 20px;
  margin: 1%;
  color: white;
  /* box-shadow: 1px 1px 6px black;
  border-radius: 3px; */
  min-height: 239px;
  display: inline-block;
  transition: all 1.4s ease;
  background-color: black;
  /* opacity: 99%; */
  
}
.side a{
  text-decoration: none;
  color: white;
}
.side:hover{
  left: -100%;
  transition: all 0.4s ease;
}
.main{
  position: flex;
  margin: 1%;
  flex: 70%;
  padding: 20px;
  /* box-shadow: 1px 1px 6px black;
  border-radius: 3px; */
  min-height: 300px;
  color: white;
  background-color: black;
}
.skills{
  position: flex;
  margin: 1%;
  flex: 80%;
  padding: 40px;
  box-shadow: 0px 1px 1px black;
  border-radius: 3px;
}
.foto-side{
  width: 100%;
  object-fit:cover;
  max-width: 400px;
  margin: 1%;
  padding: 2%;
  float: right;
  position:static;
}
.foto-main{
  width: 100%;
  object-fit:contain;
  max-height: 300px;
  margin: 1%;
  position:static;
}

@media screen and (max-width : 2378){
  .row{   
    flex-direction:column;
    justify-content:space-evenly;
  }
}
/* End Of Content */

/* responsive */
.w3-large{font-size:18px!important;} 
.w3-center{text-align:center!important}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important; padding: 5px;}
.w3-wide{letter-spacing:4px; padding: 5px;}
.w3-container,.w3-panel{padding:0.01em 16px} 
.w3-padding-small{padding:4px 10px!important}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}

.w3-border{border:1px solid #ccc!important}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-button{width:100%} .w3-button{white-space:normal} .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-button:disabled{cursor:not-allowed;opacity:0.3}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-button:hover{color:#000!important;background-color:#ccc!important}